body
{
    background-color: black;
}
#box
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: white;
    background-position: center;
    text-align:center;
}
#sign
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
    padding:20px;
}
button
{
    background-color: red;
    color: white;
    height: 70px;
    width: 200px;
    font-size: 30px;
    border-radius: 20px;
}
h4
{
    color: red;
    font-size:50px;
    margin:0;
}
h1
{
    color : white;
    font-size:60px;
    line-height:70px;
}
h3
{
    color :white;
    font-size:30px;
}
.container
{
    height:100vh;
    background-image: url("./net.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position :relative;
}
#i
{
   background-color: black;
    color:dimgrey;
    background: transparent;
    height: 70px;
    width: 500px;
    font-size: 30px;
}
p
{
    color :whitesmoke;
    font-size: 20px;
}
